<!DOCTYPE html>
<html lang="en">
{% include "global/partials/_head.html" %}
<body>
    {% include "global/partials/_header.html" %}
    {% include "global/partials/_messages.html" %}

    <main>
        <aside class="sidebar">
            <h2>Próximos Shows</h2>
    <ul>
        {% if eventos %}
            {% for evento in eventos %}
                <li>
                    {{ evento.data|date:"d/m" }} - {{ evento.titulo }}
                </li>
            {% endfor %}
        {% else %}
            <li>Sem shows no momento.</li>
        {% endif %}
    </ul>
        </aside>
        
        {% block content %}{% endblock content %}
        

        <aside class="sidebar">
            <h2>Turnê 2023</h2>
            <p>Confira as datas da minha turnê nacional "Vozes do Coração"</p>
            <a href="#">Ver todas as datas</a>
        </aside>
    </main>

    {% include "global/partials/_footer.html" %}
</body>
</html>
