{% extends "global/base.html" %}

{% block content %}
<section class="content">
    <h1>🎵Artigos e Notícias</h1>

    {% if posts %}
    <div class="posts-grid">
        {% for post in posts %}
            {% include 'global/partials/_post-card.html' with i=forloop.counter0 %}
        {% endfor %}
    </div>
{% else %}
    <div class="no-posts">
        <h1>Nada encontrado 🫤</h1>
        <p>
            Não pude encontrar algo neste link, por favor, clique em outro
            link do nosso blog ou vá para a <a href="{% url 'blog:index' %}">Home</a>
        </p>
    </div>
{% endif %}

    {% include "global/partials/_pagination.html" %}
</section>
{% endblock content %}